@import '../foundations/var.scss';

.g-home__about {
  margin-top: 5.5rem;

  @include sp {
    margin-top: 6.8rem;
  }
}

.c-home__about__ttl {
  text-align: center;
  font: var(--font-outfit);
  font-size: 2.4rem;

  @include sp {
    padding: 0;
  }
}

.g-about__inner {
  display: flex;
  justify-content: space-between;
  width: 100%;
  margin: 0 auto;
  padding-top: 5.4rem;

  @include pcm {
    flex-direction: column-reverse;
    padding-top: 0;
  }
   
  @include sp {
    display: flex;
    flex-direction: column-reverse;
    padding: 0;
  }
}

.g-content__about {
  padding-top: 5.1rem;
  padding-right: 5rem;

  @include sp {
    padding-top: 1.4rem;
    padding-right: 0;
  }
}

.c-content__about__ttl {
  text-align: left;
  padding-bottom: 1.6rem;
  font: var(--font-inter);
  font-size: 3.6rem;

  @include sp {
    padding-bottom: 10px;
    font-size: 2.4rem;
  }
}

.l-about__content__main {
  font: var(--font-inter);
  font-size: 1.6rem;

  @include sp {
    display: inline;
  }
}

.l-about__space {

  @include sp {
    width: 100%;
  }
}

.l-about__img {
  display: flex;
  justify-content: end;
  align-items: center;
  flex: 1;

  @include pcm {
    margin-top: 2.4rem;
  }
  
  @include spl {
    display: inline;
    text-align: center;
    margin-top: 2.4rem;
  }
}

.l-about__img__item {
  max-width: 55rem;
  width: 100%;
}


  