.l-container {
    display: block;
    max-width: 107.9rem;
  
    /* ↑　max以下の時の左右の余白 */
    margin: 0 auto;
  
    /* ↑　中央寄せ */
    margin-left: 10rem;
    margin-right: 10.1rem;

    @include sp {
      display: block;
      max-width: 34.6rem;
      margin: 0 auto;
      margin-left: 2.4rem;
      margin-right: 2.3rem;
  }
}

  